html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
  padding: 0;
}


a.navbar-brand {
  font-family: 'Pacifico', cursive;
}
form.form-inline {
  position: absolute;
  right: 2%;
}
h1.mt-2 {
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.form-group {
  width: 50%;
  text-align: center;
  margin: auto;
}

.h3, h3 {
  font-size: 1.75rem;
  font-family: 'Pacifico', cursive;
}

.h5, h5 {
  font-size: 1.25rem;
  font-family: 'Lobster', cursive;
  background: black;
  color: white;

}
div {
  text-align: center;
}

span {
  font-size: 20px;
  cursor: pointer;
  color:black;
  font-family: 'Fascinate', cursive;

}

li.list-group-item {
  height: 100px;
}

.image{
  width: 17%;
}
.input-date{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

